.modal-form__title {
  margin-bottom: 12px;
  @include font(700, 20px, 1.15);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-group__label:not(:last-child) {
  margin-bottom: 10px;
}

.input-group__label-text {
  display: block;
  margin-bottom: 4px;
  @include font(400, 12px, 1.16);
  letter-spacing: 0.01em;
  color: var(--secondary-color-font);
}

.input-group__input-wrapper {
  position: relative;
  display: block;
}

.input-group__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .input-group__input-wrapper:focus-within & {
    border-color: var(--accent-color);
  }
}

.input-group__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .input-group__input-wrapper:focus-within & {
    fill: var(--accent-color);
  }
}

.input-group__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    @include font(400, 14px, 1.14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__policy {
  @include alignment();
  margin-bottom: 30px;
  @include font(400, 14px, 1.71);
  letter-spacing: 0.03em;
  color: var(--secondary-color-font);

  &::before {
    display: block;
    margin-right: 10px;
    content: "";
    width: 16px;
    height: 15px;
    background-image: url(../images/checkbox-border.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__checkbox:checked + & {
      background-image: url(../images/icon-check.svg);
    }

    .modal-form__checkbox:focus + & {
      box-shadow: inset 0 0 0 2px var(--accent-color);
    }
  }
}

.modal-form__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__btn {
  display: block;
  min-width: 200px;
  margin: 0 auto;
  padding: 10px 55px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  @include font(700, 16px, 1.87);
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
